# R outputs
*.Rds
*.html
*.RData

# GIS outputs  
*.qgz
*.kml
*.gpkg

# Images/PDFs
*.png
*.pdf

# Office temp
~$*

.DS_Store
.Rhistory
.Rproj.user/

EHR/
GIS-2025/
data_viz/
gadm41_GBR_shp/
hotosm_gbr_railways_lines_shp/
uk_adm2_tmean_20031016_openmeteo.csv
uk_adm2_tmean_20050518_openmeteo.csv
.Rproj.user-old/
